@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@font-face {
  font-family: 'DDC-Reg';
  src: url('../fonts/DDCHardware-Regular.otf');
}
@font-face {
  font-family: 'DDC-Comp';
  src: url('../fonts/DDCHardware-Compressed.otf');
}
@font-face {
  font-family: 'DDC-Cond';
  src: url('../fonts/DDCHardware-Condensed.otf');
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  display: block;
  font-family: 'DDC-Reg', Arial;
  font-size: 50px;
}
h2 {
  font-family: 'DDC-Comp', Arial;
  font-size: 36px;
}
h3 {
  font-family: 'DDC-Cond', Arial;
  font-size: 32px;
}
h4 {
  font-family: 'Open Sans', Arial;
  font-size: 24px;
}
p {
  font-family: 'Open Sans', Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
}
.center {
  text-align: center;
}
a {
  font-family: 'Open Sans', Arial;
  font-weight: 600;
  text-decoration: underline;
}
a.pink {
  color: #ff00ff;
}
a.big {
  font-size: 32px;
}
a.link-button {
  background-color: #ff00ff;
  color: black;
  padding: 15px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  text-decoration: none;
}
a.repo-button {
  background-color: #00ffff;
  color: black;
  padding: 15px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  text-decoration: none;
}
.nav a {
  font-size: 18px;
}
.mgn-btm-10 {
  margin-bottom: 10px;
}
.mgn-top-10 {
  margin-top: 10px;
}
.mgn-rt-10 {
  margin-right: 10px;
}
.mgn-lft-10 {
  margin-left: 10px;
}
.nav {
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 20px -5px black;
  display: flex;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav.center {
  justify-content: center;
}
.nav .flex-spacer {
  flex: 1;
}
.nav .links a {
  color: black;
  display: inline;
  margin: 0 10px;
  text-decoration: none;
  transition: all .2s;
}
.nav .links a:hover {
  cursor: pointer;
  font-size: 20px;
}
@media only screen and (max-width: 900px) {
  .nav .links {
    display: none;
  }
}
.poster {
  height: 70%;
  position: relative;
  width: 100%;
}
.poster svg {
  width: 100%;
  height: 100%;
}
.poster .cover {
  align-items: center;
  box-shadow: inset 0px -5px 20px -10px black;
  display: flex;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.poster .cover .text {
  text-align: center;
}
.two-column {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: 40px;
}
.two-column .column {
  flex: 1;
}
.two-column .column.flex-2 {
  flex: 2;
}
.two-column .column.flex-2 p {
  margin-bottom: 30px;
}
.two-column .column img {
  border: 1px solid black;
  border-radius: 3px;
  height: auto;
  width: 100%;
}
.two-column .column .project-link {
  color: black;
  display: inline-block;
  background-color: #00ffff;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  transition: all .5s;
}
.two-column .column .project-link:hover {
  box-shadow: 0px 0px 10px -1px black;
}
.two-column .column.right {
  text-align: right;
}
.two-column .gutter {
  width: 50px;
}
@media only screen and (max-width: 900px) {
  .two-column {
    flex-direction: column;
  }
  .two-column .gutter {
    height: 30px;
  }
  .two-column .column.right {
    text-align: center;
  }
  .two-column .column.links {
    text-align: center;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
.router-link-active {
  color: none;
  text-decoration: none;
}
.override {
  color: black;
}
.app {
  padding-top: 60px;
  position: relative;
}
.app .current {
  margin-top: 30px;
}
.app .container {
  width: 60%;
  margin-left: 20%;
}
.app .spacer {
  height: 100px;
  width: 100%;
}
.app .image-gallery {
  margin-top: 30px;
}
.app .image-gallery img {
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s;
}
.fade-leave-active {
  position: fixed;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
@media only screen and (max-width: 1500px) {
  .app .container {
    margin-left: 10%;
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .app .container {
    margin-left: 2.5%;
    width: 95%;
  }
}
