<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
    </head>

    <body>
        <div class="app">
            <div class="nav">
                <div class="logo">
                    <router-link to="/" class="override"><h2>C.Robinson</h2></router-link>
                </div>
                <div class="spacer"></div>
                <div class="links">
                    <a v-on:click="scrollTo('about')">About</a>
                    <a href="#projects">Projects</a>
                    <a href="#contacts">Contact</a>
                </div>
            </div>
            
            <router-view>
            
            </router-view>
        </div>

        <template id="home">
            <div>
                <div class="poster">
                    <svg id="graph"></svg>
                    <div class="cover">
                        <div class="text">
                            <h1>Corey Robinson</h1>
                            <h1>Developer & Designer</h1>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div id="about" class="two-column">
                        <div class="column">
                            <h3 class="mgn-btm-10">A little About Me:</h3>
                            <p>If you hadn't guessed it already my name is Corey. My work consists of web development, game development, and data visualization. I try to work and experiment in domains that are not fully explored yet. Here you will find many experiments, and projects that I have worked on recently.</p>
                        </div>
                        <div class="gutter"></div>
                        <div class="column">
                            <h3 class="mgn-btm-10">Some more stuff</h3>
                            <p>blah blah blah</p>
                        </div>
                    </div>
                    <h1>Projects:</h1>
                    <div class="two-column project" v-for="project in projects">
                        <div class="column">
                            <img src=""/>
                        </div>
                        <div class="gutter"></div>
                        <div class="column">
                            <h3 class="mgn-btm-10">{{project.name}}</h3>
                            <p>{{project.snippet}}</p>
                            <router-link v-bind:to="getProjectRoute(project.name)">Go to Project</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template id="project-template">
            <div v-if="currentProject" class="container mgn-top-10">
                <h1>{{currentProject.name}}</h1>
                <div class="two-column">
                    <div class="column">
                        <h3>About</h3>
                        <p>{{currentProject.snippet}}</p>
                    </div>
                    <div class="gutter"></div>
                    <div class="column">
                        <h3>Built with:</h3>
                        <p>Some stuff</p>
                    </div>
                </div>
            </div>
         </template>

        <script src="./reqs/vue.min.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.8.0/d3.min.js"></script>
        <script src="./main.js"></script>
    </body>
</html>